* {
    box-sizing: border-box;
    margin: 0px;
    padding:0px;
}
body {
    display:flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    background: #323947;
    min-height: 100vh;
}
.container {
    background: white;
    padding: 25px;
    border-radius: 10px;
    box-shadow: 0 0 10px gray;
    margin-left: 2px; 
}
h1 {
    text-align: center;
    color: #333;
}
form {
    display: flex;
    gap: 10px;
    margin-bottom: 20px;
    flex-wrap:wrap;
}
#ref {
    width:100%;
    min-width: 300px;
}
input[type="text"] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid gray;
}
.radio-group {
    display: flex;
    gap: 15px;
    align-items: center;
}
.radio-group label {
    display: flex;
    align-items: center;
    gap: 5px;
    cursor: pointer;
}
input[type="submit"] {
    background: #4CAF50;
    color: white;
    border: none;
    padding: 8px 15px;
    border-radius: 5px;
    cursor: pointer;
}
input[type="submit"]:hover {
    background: #3b4a3c;
}
table {
    min-width: 325px;
    font-size:12px;
}

.task-table{
    width: 100%;
    border-collapse: collapse;
}
.task-table th,
.task-table td{
    border: 1px solid black;
}
th,
td {
    padding: 8px;
    text-align: center;
    border-bottom: 1px solid #c3bfbf;
}
button {
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.delete {
    background: red;
    color: white;
}
.delete:hover {
    background-color: bisque;
    color: rgb(7, 6, 6);
}
.edit {
    background: orange;
    color: white;
}
.edit:hover{
    background-color: aqua;
    color: #333;
}
button:hover {
    opacity: 0.8;
}
@media (max-width: 600px) {

    table {
        margin:0px;
        width: 100%;
        font-size: 11px;
        table-layout:fixed ;
    }

    th,
    td {
        padding: 4px;
        word-wrap: break-word;
    }
    button {
        padding: 4px 6px;
        font-size: 10px;
    }
    input[type="text"] {
        width:100%;
        font-size: 12px;
        padding: 6px;
    }

    input[type="submit"] {
        font-size: 12px;
        padding: 6px;
    }
    .container {
        padding: 20px;
        margin-left:2px ;
    }
}